body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  padding-left: 20px;
  padding-top: 10px;
  font-size: 3rem;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  transition: background-color 500ms ease-in-out;
}

.square:hover {
  background-color: #999;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  box-shadow: 7px 7px 0px 2px;
  width: 375px;
  margin: 0 auto;
  margin-top: 250px;
}

.game-info {
  margin-left: 20px;
}

